{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}

{% block content %}
    <div class="main_slider">
        <div class="right_s">
            <ul class="slider">

                <li  style="left:0px;">
                    <div class="slider_in">
                        <div id="uslugi">
                            <a class="main_fon" href="#"></a>
                            <h1>Услуги по поставке товаров «под ключ» </h1>
                            <a class="usl u1" href="#"><span>Размещение заказов</span></a>
                            <a class="usl u2" href="#"><span>Финансирование закупок</span></a>
                            <a class="usl u3" href="#"><span>Контроль качества товара</span></a>
                            <a class="usl u4" href="#"><span>Контроль отгрузки</span></a>
                            <a class="usl u5" href="#"><span>Доставка товара</span></a>
                            <a class="usl u6" href="#"><span>Таможенное оформление</span></a>
                            <a class="usl u7" href="#"><span>Контроль разгрузки и учета</span></a>
                        </div>
                    </div>
                </li>
                <li style="left:915px;">
                    <div class="slider_in">
                        <div id="gruz">
                            <a class="main_fon" href="#"></a>
                            <a class="city moskow" href="#"><span></span>Москва</a>
                            <a class="city omsk red" href="#"><span></span>Омск</a>
                            <a class="city yrumchi red" href="#"><span></span>Урумчи</a>
                            <a class="city habarovsk red" href="#"><span></span>Хабаровск</a>
                            <a class="city vladivostok red" href="#"><span></span>Владивосток</a>
                            <a class="city pekin red" href="#"><span></span>Пекин</a>
                            <a class="city shanhai red" href="#"><span></span>Шанхай</a>
                            <a class="city guanchgou red" href="#"><span></span>Гунчджоу</a>
                            <div class="forma">
                                <span>Выберите пожалуйста</span>
                                <br />
                                <div class="selected_select">
                                    <select>
                                        <option value="0">Схема доставки</option>
                                        <option value="1">Морская/мультимодальная</option>
                                        <option value="2">Сухопутная</option>
                                        <option value="3">Авиа</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="dot">
                <li>
                    <a class="active" href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        <div class="left_s">
            <span class="stat">Статистика</span>

                <span class="red">{{ field_1 }}</span>
                <span>доставлен груз до пункта назначения</span>


                <span class="red">{{ field_2 }}</span>
                <span>довольных клиентов</span>

            <a href="#" class="plus"></a>
        </div>
    </div><!-- main_slider -->
    <div class="preimuschestva">
        <div class="preimuschestva_in">
            <ul>
                <li>
                    <h4>Гарантия качества</h4>
                    <span>Постоянный контроль качества производства и поставки </span>
                </li>
                <li>
                    <h4>Лучшая цена</h4>
                    <span>Бюджет на поставку всегда фиксированный. Никаких наценок и доп.расходов
                    </span>
                </li>
                <li>
                    <h4>Доставка всегда  в срок</h4>
                    <span>Срок доставки груза из Китая: Авиа – 8 дней Авто – 22 дней Контейнером – 35 дней</span>
                </li>
            </ul>
        </div>
    </div><!-- preimuschestva -->
    <div class="content">
        <div class="content_in">
            <div class="left">
                <h1>
                    Добро пожаловать на сайт  Форвард Экспресс!
                </h1>
                <h2>
                    о компании
                </h2>
                {{ content|safe }}
            </div>
            <div class="right">
                <div class="akcii">
                    <ul>
                        <li>
                            <a href="#"><img src="/static/images/img1.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/static/images/img2.jpg" alt="" />
                                <div>
                                    Акция всем до 13 августа 2013
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="/static/images/img3.jpg" alt="" />
                                <div>
                                    Для нас открыты все дороги!
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- content -->
{% endblock %}