<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>04 inner</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <!-- .root -->
  <div class="root">
    <!-- header -->
    <header>
      <!-- .head-in -->
      <div class="head-in">
        <div class="logo">
          <a href="#">
            <img src="i/logo.png" alt="" width="118" height="117">
          </a>
        </div>
        <!-- .site-info -->
        <div class="site-info">
          <div class="site-name">Кафедра "Промышленная логистика"</div>
          <ul class="slogan">
            <li>Научно-учебный комплекс "Инженерный бизнес и менеджмент"</li>
            <li>Московский Государственный технический университет им. Н.Э. Баумана</li>
          </ul>
        </div>
        <!--// .site-info -->
        <!-- .nav -->
        <nav class="nav">
          <ul>
            <li><a href="#">Сайт МГтУ</a></li>
            <li><a href="#">Карта сайта</a></li>
            <li><a href="#">Поиск</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </nav>
        <!--// .nav -->
        <ul class="lang">
          <li><a href="#">Rus</a></li>
          <li>|</li>
          <li><a href="#">Eng</a></li>
        </ul>
        <i class="emblem"></i>
        <i class="header-pic"></i>
      </div>
      <!--// .head-in -->
      <!-- .menu -->
      <nav class="menu">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">События</a></li>
          <li><a href="#">Учеба</a></li>
          <li><a href="#">Научно-исследовательская работа</a></li>
          <li><a href="#">Международная деятельность</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <!--// .menu -->
    </header>
    <!--// header -->
    <!-- .main -->
    <div class="main">
      <!-- .content -->
      <div class="content">
        <!-- .breadcrumbs -->
        <ul class="breadcrumbs">
          <li><a href="#">Главная</a></li>
          <li><span class="divider">&gt;</span>сотрудники</li>
        </ul>
        <!--// .breadcrumbs -->
        <div class="headline">
          <h1>Cотрудники</h1>
        </div>
        <!-- .heading -->
        <div class="heading first">
          <div class="title">Заведующая кафедрой</div>
          <div class="title">Контакты</div>
        </div>
        <!--// .heading -->
        <!-- .staff-list -->
        <ul class="staff-list">
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
        </ul>
        <!--// .staff-list -->
        <!-- .heading -->
        <div class="heading">
          <div class="title">Профессорско-преподавательский состав</div>
        </div>
        <!--// .heading -->
        <!-- .staff-list -->
        <ul class="staff-list">
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
        </ul>
        <!--// .staff-list -->
        <!-- .heading -->
        <div class="heading">
          <div class="title">Учебно-вспомогательный персонал</div>
        </div>
        <!--// .heading -->
        <!-- .staff-list -->
        <ul class="staff-list">
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Иван Иванович Иванов</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
          <li>
            <div class="name"><a href="#">Лариса Иванова Петрова</a></div>
            <ul class="contacts">
              <li>+7 495 215-23-56</li>
              <li><a href="#">mail@mail.ru</a></li>
            </ul>
          </li>
        </ul>
        <!--// .staff-list -->
      </div>
      <!--// .content -->
      <!-- .sidebar -->
      <div class="sidebar">
        <!-- .side-nav -->
        <div class="side-nav with-separator">
          <!-- .side-nav-in -->
          <nav class="side-nav-in">
            <ul>
              <li><a href="#">О кафедре</a></li>
              <li class="active"><a href="#">Образовательные программы</a>
                <ul>
                  <li><a href="#">Бакалавриат</a></li>
                  <li><a href="#">Магистратура</a></li>
                  <li><a href="#">Аспирантура</a></li>
                </ul>
              </li>
              <li><a href="#">Сотрудники</a></li>
              <li><a href="#">Партнеры</a></li>
              <li><a href="#">Выпускники</a></li>
            </ul>
          </nav>
          <!--// .side-nav-in -->
        </div>
        <!--// .side-nav -->
        <!-- .side-partners -->
        <div class="side-partners with-separator">
          <div class="caption">Вузы-партнеры</div>
          <!-- .partners-list -->
          <ul class="partners-list">
            <li>
              <a href="#">
                <div class="img"><img src="i/side-partners-pic1.png" alt="" width="120" height="53"></div>
                <div class="title">УНИВЕРСИТЕТ ЛЕУФАНА, г. Люнебург (Германия)</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img"><img src="i/side-partners-pic1.png" alt="" width="120" height="53"></div>
                <div class="title">УНИВЕРСИТЕТ ЛЕУФАНА, г. Люнебург (Германия)</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img"><img src="i/side-partners-pic1.png" alt="" width="120" height="53"></div>
                <div class="title">УНИВЕРСИТЕТ ЛЕУФАНА, г. Люнебург (Германия)</div>
              </a>
            </li>
          </ul>
          <!--// .partners-list -->
        </div>
        <!--// .side-partners -->
        <!-- .side-teachers -->
        <div class="side-teachers">
          <div class="caption">Преподаватели</div>
          <div class="foto">
            <a href="#"><img src="i/teachers-pic1.jpg" alt="" width="115" height="127"></a>
          </div>
          <div class="details">
            <div class="name">Омельченко Ирина Николаевна</div>
            <div class="post">Декан факультета</div>
            <div class="more"><a href="#">Подробнее</a></div>
          </div>
        </div>
        <!--// .side-teachers -->
      </div>
      <!--// .sidebar -->
      <div class="clearing"></div>
    </div>
    <!--// .main -->
    <div class="empty"></div>
  </div>
  <!--// .root -->
  <!-- footer -->
  <footer>
    <!-- .f-menu -->
    <nav class="f-menu">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">События</a></li>
        <li><a href="#">Учеба</a></li>
        <li><a href="#">Научно-исследовательская работа</a></li>
        <li><a href="#">Международная деятельность</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <!--// .f-menu -->
    <!-- .footer-in -->
    <div class="footer-in">
      <!-- .f-social -->
      <ul class="f-social">
        <li class="tw"><a href="#" title="Twitter"></a></li>
        <li class="fb"><a href="#" title="Facebook"></a></li>
        <li class="vk"><a href="#" title="ВКонтакте"></a></li>
      </ul>
      <!--// .f-social -->
      <!-- .f-nav -->
      <nav class="f-nav">
        <ul>
          <li><a href="#">Сайт МГтУ</a></li>
          <li><a href="#">Карта сайта</a></li>
          <li><a href="#">Поиск</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <!--// .f-nav -->
      <!-- .designed -->
      <ul class="designed">
        <li>Оформлено и разработано отделом</li>
        <li>Поддержки Интернет-ресурсов УИП МГТУ им. Н.Э.Баумана</li>
      </ul>
      <!--// .designed -->
      <!-- .f-contacts -->
      <ul class="f-contacts">
        <li>105005, Москва, 2-я Бауманская ул., д. 5, стр. 1</li>
        <li>Телефон: (499) 263-63-91</li>
        <li>Факс: (499) 267-48-44</li>
        <li>e-mail: <a href="#">bauman@bmstu.ru</a></li>
      </ul>
      <!--// .f-contacts -->
    </div>
    <!--// .footer-in -->
  </footer>
  <!--// footer -->
</body>
</html>