{% load i18n %}
    
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js ie lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie ie7"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>ИБМ3 | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/modernizr-2.6.2.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <!-- .root -->
        <div class="root">
        <!-- header -->
        <header>
            <!-- .head-in -->
            <div class="head-in">
                <div class="logo">
                    <a href="/">
                        <img src="/static/i/logo.png" alt="" width="118" height="117">
                    </a>
                </div>
                <!-- .site-info -->
                <div class="site-info">
                    <div class="site-name">{% trans 'Кафедра "Промышленная логистика"' %}</div>
                    <ul class="slogan">
                        <li>{% trans 'Научно-учебный комплекс "Инженерный бизнес и менеджмент"' %}</li>
                        <li>{% trans 'Московский государственный технический университет им. Н.Э. Баумана' %}</li>
                    </ul>
                </div>
                <!--// .site-info -->
                <!-- .nav -->
                <nav class="nav">
                    <ul>
                        {% include 'top_bottom_menu.html' %}
                    </ul>
                </nav>
                <!--// .nav -->
                 
                <ul class="lang">
                    <li><a href="#" id='set_lang_ru'>Рус</a></li>
                    <li>|</li>
                    <li><a href="#" id='set_lang_en'>Eng</a></li>
                </ul>
                <i class="emblem"></i>
                <i class="header-pic"></i>
            </div>
            <!--// .head-in -->
            <!-- .menu -->
            <nav class="menu">
                {% include 'top_menu.html' %}
            </nav>
            <!--// .menu -->
        </header>
        <!--// header -->
        <!-- .main -->
        <div class="main">
        <!-- .content -->
        <div class="content">
            {% block content %}
            {% endblock %}  
        </div>
        <!--// .content -->
        <!-- .sidebar -->
        <div class="sidebar">
            {% include 'left_side.html' %}
        </div>
        <!--// .sidebar -->
        <div class="clearing"></div>
        </div>
        <!--// .main -->
        <div class="empty"></div>
        </div>
        <!--// .root -->
        <!-- footer -->
        <footer>
            <!-- .f-menu -->
            <nav class="f-menu">
                {% include 'bottom_menu.html' %}
            </nav>
            <!--// .f-menu -->
            <!-- .footer-in -->
            <div class="footer-in">
                <!-- .f-social -->
                <ul class="f-social">
                    <li class="tw"><a href="#" title="Twitter"></a></li>
                    <li class="fb"><a href="#" title="Facebook"></a></li>
                    <li class="vk"><a href="#" title="ВКонтакте"></a></li>
                </ul>
                <!--// .f-social -->
                <!-- .f-nav -->
                <nav class="f-nav">
                    <ul>
                        {% include 'top_bottom_menu.html' %}
                    </ul>
                </nav>
                <!--// .f-nav -->
                <!-- .designed -->
                <ul class="designed">
                    <li>Оформлено и разработано отделом</li>
                    <li>Поддержки Интернет-ресурсов УИП МГТУ им. Н.Э.Баумана</li>
                </ul>
                <!--// .designed -->
                <!-- .f-contacts -->
                <ul class="f-contacts">
                    <li>105005, Москва, 2-я Бауманская ул., д. 5, стр. 1</li>
                    <li>Телефон: (499) 263-63-91</li>
                    <li>Факс: (499) 267-48-44</li>
                    <li>e-mail: <a href="#">bauman@bmstu.ru</a></li>
                </ul>
                <!--// .f-contacts -->
            </div>
            <!--// .footer-in -->
        </footer>
        <!--// footer -->
        
        <form method="POST" action='/i18n/setlang/' id = 'set_lang_ru_form'>
            {% csrf_token %}
            <input type = 'hidden' name="language" value="ru" />
        </form>
        <form method="POST" action='/i18n/setlang/' id = 'set_lang_en_form'>
            {% csrf_token %}
            <input type = 'hidden' name="language" value="en" />
        </form>
        
        
    </body>

    <script>
        $('#set_lang_ru').click(function(){
            $('#set_lang_ru_form').submit();
        });
        $('#set_lang_en').click(function(){
            $('#set_lang_en_form').submit();
        });
    </script>
</html>