{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <!-- .welcome -->
            <section class="welcome with-separator">
                <div class="img">
                    <img src="/static/i/DSC03862.JPG" alt="" width="164" height="198">
                </div>
                <div class="txt">
                    {{ home_top|safe }}
                </div>
            </section>
            <!--// .welcome -->
            <!-- .news-block -->
            <section class="news-block with-separator box">
                <h1>События</h1>
                <!-- .calendar -->
                
                <div class="calendar">
                    <!-- .news-list -->
                    <ul class="news-list">
                        {% for l in recent_news %}
                            <li>
                                    <div class="img">
                                    <a href="/news/{{ l.slug }}/">
                                        <img src="/media/{{ l.image }}"
                                                alt="{{ l.title }}" width="198">
                                    </a>
                                </div>
                                
                                <div class="date">{{ l.date|date:"d/m/Y" }}</div>
                                <div class="title">
                                    <a href="/news/{{ l.slug }}/">{{ l.title }}</a>
                                </div>
                                <div class="txt">
                                    {{ l.content }}
                                </div>
                                
                            </li>
                        {% endfor %}
                    </ul>
                    <!--// .news-list -->
                </div>
                <!--// .calendar -->
            </section>
            <!--// .news-block -->
            <!-- .photoreport -->
            <section class="photoreport with-separator box">
                <!-- .pager -->
                <div class="pager">
                    <div class="view-all">
                        <a href="/gallery/">Смотреть все</a>
                    </div>
                </div>
                <!--// .pager -->
                <h1>Фотоотчет</h1>
                <!-- .foto-list -->
                <ul class="foto-list">
                    {% for p in recent_photos %}
                        <li>
                            <a href="/gallery/"><img src="/media/{{ p.image }}" alt="" width="198" ></a>
                        </li>
                    {% endfor %}
                </ul>
                <!--// .foto-list -->
            </section>
            <!--// .photoreport -->
            <!-- .txt-block -->
            <section class="txt-block box">
                {{ home_history|safe }}
            </section>
            <!--// .txt-block -->
{% endblock %}