{% load i18n %}

<!-- .side-nav -->
<div class="side-nav with-separator">
    <!-- .side-nav-in -->
    <nav class="side-nav-in">
        <ul>
            <li><a href="#">О кафедре</a></li>
            <li><a href="#">Образовательные программы</a>
                <ul>
                    <li><a href="#">Бакалавриат</a></li>
                    <li><a href="#">Магистратура</a></li>
                    <li><a href="#">Аспирантура</a></li>
                </ul>
            </li>
            <li><a href="#">Сотрудники</a></li>
            <li><a href="#">Партнеры</a></li>
            <li><a href="#">Выпускники</a></li>
        </ul>
    </nav>
    <!--// .side-nav-in -->
</div>
<!--// .side-nav -->
<!-- .side-partners -->
<div class="side-partners with-separator">
    <div class="caption">Вузы-партнеры</div>
    <!-- .partners-list -->
    <ul class="partners-list">
        <li>
            <a href="#">
                <div class="img"><img src="/static/i/side-partners-pic1.png" alt="" width="120" height="53"></div>
                <div class="title">УНИВЕРСИТЕТ ЛЕУФАНА, г. Люнебург (Германия)</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img"><img src="/static/i/side-partners-pic1.png" alt="" width="120" height="53"></div>
                <div class="title">УНИВЕРСИТЕТ ЛЕУФАНА, г. Люнебург (Германия)</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img"><img src="/static/i/side-partners-pic1.png" alt="" width="120" height="53"></div>
                <div class="title">УНИВЕРСИТЕТ ЛЕУФАНА, г. Люнебург (Германия)</div>
            </a>
        </li>
    </ul>
    <!--// .partners-list -->
</div>
<!--// .side-partners -->
<!-- .side-teachers -->
<div class="side-teachers with-separator">
    <div class="caption">Преподаватели</div>
    <div class="foto">
        <a href="#"><img src="/static/i/teachers-pic1.jpg" alt="" width="115" height="127"></a>
    </div>
    <div class="details">
        <div class="name">Омельченко Ирина Николаевна</div>
        <div class="post">Декан факультета</div>
        <div class="more"><a href="#">Подробнее</a></div>
    </div>
</div>
<!--// .side-teachers -->
<!-- .side-links -->
<div class="side-links">
    <div class="caption">Ссылки</div>
    <ul>
        <li><a href="#">Ссылка 1</a></li>
        <li><a href="#">Раздел о разделе</a></li>
        <li><a href="#">Раздел 2 о другом разделе</a></li>
        <li><a href="#">Ссылка на все раздылы</a></li>
        <li><a href="#">Еще одна ссылка</a></li>
        <li><a href="#">Снова новый раздел</a></li>
    </ul>
</div>
<!--// .side-links -->