{% load i18n %}

<!-- .side-nav -->
<div class="side-nav with-separator">
    <!-- .side-nav-in -->
    <nav class="side-nav-in">
        <ul>
            <li {% if 'about' in request_url %} class='active' {% endif %}><a href="/about/">{% trans 'О кафедре' %}</a></li>
            <li><a href="#">{% trans 'Образовательные программы' %}</a>
                <ul {% if 'sp_' in request_url %} style='display: block;' {% endif %}>
                    <li {% if 'sp_bachelor' in request_url %} class='active' {% endif %}><a href="/sp_bachelor/">{% trans 'Бакалавриат' %}</a></li>
                    <li {% if 'sp_master' in request_url %} class='active' {% endif %}><a href="/sp_master/">{% trans 'Магистратура' %}</a></li>
                    <li {% if 'sp_phd' in request_url %} class='active' {% endif %}><a href="/sp_phd/">{% trans 'Аспирантура' %}</a></li>
                </ul>
            </li>
            <li {% if 'staff' in request_url %} class='active' {% endif %}><a href="/staff/">{% trans 'Сотрудники' %}</a></li>
            <li {% if 'partners' in request_url %} class='active' {% endif %}><a href="/partners/">{% trans 'Партнеры' %}</a></li>
            <li {% if 'graduates' in request_url %} class='active' {% endif %}><a href="/graduates/">{% trans 'Выпускники' %}</a></li>
        </ul>
    </nav>
    <!--// .side-nav-in -->
</div>
<!--// .side-nav -->
<!-- .side-partners -->
<div class="side-partners with-separator">
    <div class="caption">Вузы-партнеры</div>
    <!-- .partners-list -->
    <ul class="partners-list">
        {% for p in base_partners %}
            <li>
                <a href="/partners/" target='_blank'>
                    <div class="img"><img src="/media/{{ p.logo }}" alt="" width="120"></div>
                    <div class="title">{{ p.name }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <!--// .partners-list -->
</div>
<!--// .side-partners -->
<!-- .side-teachers -->
<div class="side-teachers with-separator">
    <div class="caption">{% trans 'Сотрудники' %}</div>
    <div class="foto">
        <a href="#"><img src="/static/i/teachers-pic1.jpg" alt="" width="115" height="127"></a>
    </div>
    <div class="details">
        <div class="name">Омельченко Ирина Николаевна</div>
        <div class="post">Декан факультета</div>
        <div class="more"><a href="#">Подробнее</a></div>
    </div>
</div>
<!--// .side-teachers -->
<!-- .side-links -->
<div class="side-links">
    <div class="caption">Ссылки</div>
    <ul>
        {% for l in links %}
            <li><a href="{{ l.url }}" target='_blank'>{{ l.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<!--// .side-links -->