{% load i18n %}

<ul>
    <li><a href="#">{% trans 'Главная' %}</a></li>
    <li><a href="#">{% trans 'События' %}</a>
        <ul>
            <li><a href="#">Событие 1</a></li>
            <li><a href="#">Событие 2</a></li>
            <li><a href="#">Событие 3</a></li>
        </ul>
    </li>
    <li><a href="#">{% trans 'Учеба' %}</a></li>
    <li><a href="#">{% trans 'Научно-исследовательская работа' %}</a>
        <ul>
            <li><a href="#">Событие 1</a></li>
            <li><a href="#">Событие 2</a></li>
            <li><a href="#">Событие 3</a></li>
        </ul>
    </li>
    <li><a href="#">{% trans 'Международная деятельность' %}</a></li>
    <li><a href="#">{% trans 'Контакты' %}</a></li>
</ul>